<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Inq type</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inquiries.each do |inquiry| %>
  <tr>
    <td><%= inquiry.name %></td>
    <td><%= inquiry.email %></td>
    <td><%= inquiry.inq_type %></td>
    <td><%= inquiry.message %></td>
    <td><%= link_to 'Show', inquiry %></td>
    <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
    <td><%= link_to 'Destroy', inquiry, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inquiry', new_inquiry_path %>
