<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inquiry.name %>
</p>

<p>
  <b>Email:</b>
  <%= @inquiry.email %>
</p>

<p>
  <b>Inq type:</b>
  <%= @inquiry.inq_type %>
</p>

<p>
  <b>Message:</b>
  <%= @inquiry.message %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
