<!DOCTYPE html>
<html>
  <head>
    <title>Whispered</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
            <li><%= link_to "Inquiry", inquiries_path %></li>
            <li>
              <form class="navbar-form" action="/inquiries/search">
                <input class="span4" type="text" name="q" placeholder="search" value="<%= params[:q] %>">
                <button type="submit" class="btn">Search</button>
              </form>
            </li>
            <li><%= link_to image_tag(current_user[:image], {:size => "16x16"}) + current_user[:nickname], "http://github.com/#{current_user[:nickname]}" %></li>
            <li><%= link_to "Sign out", signout_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
